<div class="container">
  <h3 style="text-align: center;">Category Master</h3>
  <hr>
  <div class="row">
    <div class="col">
      <!--Form-->
      <form #c="ngForm">
        <label>Name</label>
        <input type="text" name="name" [(ngModel)]="selectedCategory.name" class="form-control">
        <br>
        <label>Status</label>
        <select type="text" name="status" [(ngModel)]="selectedCategory.status" class="form-control">
          <option>Active</option>
          <option>Inactive</option>
        </select>
        <br>
        <div class="btn-toolbar">
        <ng-container *ngIf="changenameSave">
          <input type="button" (click)="createOrUpdateCategory(c)" value="Save" class="btn btn-success btn-md">
        </ng-container>
        <ng-container *ngIf="changenameUpdate">
          <input type="button" (click)="createOrUpdateCategory(c)" value="Update" class="btn btn-warning btn-md">
        </ng-container>
        &nbsp;
        <input type="button" (click)="refresh()" value="Reset" class="btn btn-danger btn-md">
      </div>
        <br>
      </form>
    </div>
  
    <div class="col">
      <!--Table-->
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
        <tr *ngFor="let category of categories">
          <td>{{ category.id }}</td>
          <td>{{ category.name }}</td>
          <td>{{ category.status }}</td>
          <td>
         
            <button (click)="selectCategory(category)" class="btn btn-outline-warning btn-sm">Edit</button>
            &nbsp;
            <button (click)="deleteCategory(category.id)" class="btn btn-outline-danger btn-sm">Delete</button>
         
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<router-outlet></router-outlet>